### Ozone Level Forecasting

Open the .data file using a text editor, then save with a .csv extension.

In [22]:
import pandas as pd
import numpy as np
import re

In [38]:
data_path = "../data/onehr.csv"
names_path = "../data/onehr_names.csv"

df = pd.read_csv(data_path)
df.head()

,1/1/1998,0.8,1.8,2.4,2.1,2,2.1.1,1.5,1.7,1.9,...,0.15,10.67,-1.56,5795,-12.1,17.9,10330,-55,0,0.
0,1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,...,0.48,8.39,3.84,5805,14.05,29,10275,-55,0,0.0
1,1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,...,0.6,6.94,9.8,5790,17.9,41.3,10235,-40,0,0.0
2,1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,...,0.49,8.73,10.54,5775,31.15,51.7,10195,-40,2.08,0.0
3,1/5/1998,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,...,?,?,?,?,?,?,?,?,0.58,0.0
4,1/6/1998,3.1,3.5,3.3,2.5,1.6,1.7,1.6,1.6,2.3,...,0.09,11.98,11.28,5770,27.95,46.25,10120,?,5.84,0.0

This dataset is composed of 2535 observations, 73 attributes and 1 label. Next step is to name the columns.

In [39]:
df.shape

(2535, 74)

Extract column names from the .names file.

In [28]:
names = pd.read_csv(names_path,skiprows=53)
names = names["1"]
#.split(":", 1)[0]

def split_the_row(row):
    return row.split(":", 1)[0]

column_names = names.apply(lambda x: split_the_row(x))

column_names_list = column_names.tolist()

column_names_list.append("Result")

column_names_list

['Date',
 'WSR0',
 'WSR1',
 'WSR2',
 'WSR3',
 'WSR4',
 'WSR5',
 'WSR6',
 'WSR7',
 'WSR8',
 'WSR9',
 'WSR10',
 'WSR11',
 'WSR12',
 'WSR13',
 'WSR14',
 'WSR15',
 'WSR16',
 'WSR17',
 'WSR18',
 'WSR19',
 'WSR20',
 'WSR21',
 'WSR22',
 'WSR23',
 'WSR_PK',
 'WSR_AV',
 'T0',
 'T1',
 'T2',
 'T3',
 'T4',
 'T5',
 'T6',
 'T7',
 'T8',
 'T9',
 'T10',
 'T11',
 'T12',
 'T13',
 'T14',
 'T15',
 'T16',
 'T17',
 'T18',
 'T19',
 'T20',
 'T21',
 'T22',
 'T23',
 'T_PK',
 'T_AV',
 'T85',
 'RH85',
 'U85',
 'V85',
 'HT85',
 'T70',
 'RH70',
 'U70',
 'V70',
 'HT70',
 'T50',
 'RH50',
 'U50',
 'V50',
 'HT50',
 'KI',
 'TT',
 'SLP',
 'SLP_',
 'Precp',
 'Result']

In [57]:
name_replacement_dict = dict(zip(df.columns.tolist(), column_names_list))

In [52]:
df.rename(columns = name_replacement_dict, inplace = True)

(2535, 74)